#map {
    height: 750px;
    margin: auto;
    border: solid;
  }
  
  #map-container {
    min-height: 100%;
    min-width: 100%;
  }
  
  #sidebar {
    height: 33%;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:  #67805E;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  #sidebar label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: beige;
   width: auto;
  }
  
  #sidebar-content {
    display: block;
  }
  
  #sidebar.hidden #sidebar-content {
    display: none;
  }
  
  #sidebar.collapsed {
    width: 5%;
    padding: 10px 0;
    height: 5%;
  }
  
  #sidebar.collapsed label {
    display: none;
  }
  
  #sidebar.collapsed h2 {
    display: none;
  }
  
  #sidebar label img {
    max-width: 30%;
    height: auto;
    margin-right: 5px;
}


#sidebar.collapsed input[type="checkbox"] {
  display: none;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #677F5E;
}

.topnav {
  overflow: hidden;
  background-color: #677F5E;
  border:#000000, 5px;
}
.logoutBut{
    float: right;
    height: 40px;
    width: 90px;
    margin-top: 10px;
    margin-right: 10px;
    font-size:20px;
    background-color: #52614d;
    color:rgb(0, 0, 0);
    font-weight:700;
}

.topnav button {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  /*width:16.5%;*/
  border-bottom: #000000;
  border: none;
  background-color:#677F5E;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  /*width:16.5%;*/
  border-bottom: #000000;
  background-color:#677F5E;
  
  /*background-color: #4B5D45;*/
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.ATpic{
    
    height: 50px;
    width: 50px;
    background-color: #677F5E;
    
}







.form{
  position: absolute;
  bottom: 0;
  right: 15px;
  z-index: 9;
  left: 60vw;
  top: 10vw;
  width: 500px;
  height: 550px;
  border-style: solid;
  
  background-color: white;
}

form {
  padding: 10px;
  background-color: white;
}

form h1 {
  display: inline-block;
  margin: 0px 25px 20px 20px;
}

form .cancel {
  background-color: red;
  color: white;
  padding: 0px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  font-weight:100;
  font-size: 15px;
  

  position: absolute;
  left: 470px;
  top: 10px;



}

.Number-of-Days-to-hike {
  position: absolute;
  left: 8px;
  top: 150px;

  width: 96%;
  height: 50px;
  font-size: 24px;
}

.Number-of-Days-to-hike input{
  position: absolute;
  left: 0px;
  top: 35px;
  width: 20%;
  height: 50px;
}

.Starting-Location{
  position: absolute;
  left: 8px;
  top: 45%;
  
  width: 96%;
  height: 50px;
  font-size: 24px;
  /*padding: 15px 0px;
  margin: 5px 0 22px 0;*/
}

.Starting-Location select{
  position: absolute;
  left: 0px;
  top: 35px;
  
  width: 100%;
  height: 50px;
  /*padding: 15px 0px;
  margin: 5px 0 22px 0;*/
}

.Ending-Location{
  position: absolute;
  left: 8px;
  top: 63%;
  
  width: 96%;
  height: 50px;
  font-size: 24px;
  
  /*padding: 15px 0px;
  margin: 5px 0 22px 0;*/
}

.Ending-Location select{
  position: absolute;
  left: 0px;
  top: 35px;
  width: 100%;
  height: 50px;
}



.Distance-of-Hike{
  position: absolute;
  left: 8px;
  top: 80%;
  /*border-top-left-radius: 25px;
  /*width:20px;*/
}

.Build-Trips{
  position: absolute;
  left: 59.99%;
  top: 89.9%;
  border-top-left-radius: 25px;
  width:200px;
}

.Trip1{
  position: absolute;
  left: 8px;
  top: 20%;
  
  width: 96%;
  height: 100px;
  font-size: 24px;
  /*padding: 15px 0px;
  margin: 5px 0 22px 0;*/
  background-color: #677F5E;
}


.Trip2{
  position: absolute;
  left: 8px;
  top: 43%;
  
  width: 96%;
  height: 100px;
  font-size: 24px;
  
  /*padding: 15px 0px;
  margin: 5px 0 22px 0;*/
  background-color: #677F5E;
}
.form.Saved-Trips {
  overflow: auto;
}
.Saved_Trip_Box {
  position: relative;
  left: 8px;
  /*top: 20%;*/
  width: 96%;
  height: 100px;
  font-size: 24px;
  padding: 15px 0px;
  margin: 5px 0 22px 0;
  background-color: #677F5E;
}
.Choose-Trips{
  position: absolute;
  left: 59.99%;
  top: 89.9%;
  border-top-left-radius: 25px;
  width:200px;
}

.Trip-Name{
  position: absolute;
  left: 8px;
  top: 40%;
  width: 90%;
  height: 50px;
}



.Add-Gear{
  position: absolute;
  left: 30.99%;
  top: 60.9%;
  border-radius: 25px;
  width:200px;
}

.Add-Day{
  position: absolute;
  left: 59.99%;
  top: 89.9%;
  border-top-left-radius: 25px;
  width:200px;
}


.Equipment{
  position: absolute;
  left: 8%;
  top: 30%;
  width: 90%;
  height: 50px;
}

.Equipment input{
  position: absolute;
  left: 0px;
  top: 35px;
  width: 20%;
  height: 50px;
}

.Weight{
  position: absolute;
  left: 30%;
  top: 30%;
  width:200px;
}

.Weight input{
  position: absolute;
  left: 0px;
  top: 35px;
  width: 20%;
  height: 50px;
}

.lbs{
  position: absolute;
  left: 50%;
  top: 35%;
  width:50px;
  height:50px;
}

.Day-Title {
  position: absolute;
  left: 8px;
  top: 30%;
  width: 90%;
  height: 50px;
}

.Upload-file  {
  position: absolute;
  left: 8px;
  top: 10%;
  width: 70%;
  height: 100px;
  background-color: #bbbbbb;
}

.Comment {
  position: absolute;
  left: 8px;
  top: 70%;
  width: 90%;
  height: 50px;
}

.Comment textArea{
  position: absolute;
  left: 8px;
  top: 45%;
  width: 90%;
  height: 60px;
}



.Current-Location{
  position: absolute;
  left: 8px;
  top: 30%;
  width: 90%;
  height: 50px;
}

.Campsites {
  position: absolute;
  left: 8px;
  top: 40%;
  width: 90%;
  height: 50px;
}

.First-Camp {
  position: absolute;
  left: 8px;
  top: 50%;
  width: 90%;
  height: 50px;
}

.Second-Camp {
  position: absolute;
  left: 8px;
  top: 60%;
  width: 90%;
  height: 50px;
}

.Type  {
  position: absolute;
  left: 8px;
  top: 15%;
  width: 90%;
  height: 50px;
}



form input[type=text], form input[type=password] {
  /*width: 100%;
  padding: 15px 0px;
  margin: 5px 0 22px 0;*/
  border: none;
  background: #f1f1f1;
}
  
form input[type=text]:focus, form input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.Trip-Helper {
  display: none;
}

.Trip-Helper2 {
  display: none;
}

.Custom-Trip {
  display: none;
}

.Custom-Trip2 {
  display: none;
}

.Custom-Trip3 {
  display: none;
}

.Saved-Trips {
  display: none;
}

.Share-Photo {
  display: none;
}

.Hazard-Report {
  display: none;
}

/*#button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);

  box-shadow: 0px 1px 0px #c0c0c0, 0px 2px 0px #b0b0b0, 0px 3px 0px #a0a0a0, 0px 4px 0px #909090, 0px 5px 10px rgba(0, 0, 0, 0.6);
  /*border: line;

  /*box-shadow: none;*/

/*}*/

#DayCounter{
  font-size: 20px; /* Sets the font size to 20 pixels */
  padding: 5px; /* Adds 10 pixels of padding to the top, bottom, left, and right */
 width: 138px;
 height: 51px;
}
